@charset "UTF-8";

*{
    padding: 0px;
    border: 0px;
    margin: 0px;
}

div{

    text-align: center;
}

img#espaço{

    background-attachment: fixed;
    position: absolute;
    width: 100%;

}

img#astronauta{
    position: relative;
    width: 30%;
    vertical-align: middle;
}