@charset "UTF-8";

*{
    padding: 0px;
    border: 0px;
    margin: 0px;
}

div.container{

    background-color: #333;
    height: 40vh;

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;

    /* horizontal */
    justify-content: center;

    /* vertical */
    align-items: center;

    border: 3px solid red;
    padding: 15px;

}

.container div{

    background-color: #ccc;
    border: 1px solid blue;
    padding: 20px;
}
